---
import Layout from "../layouts/Layout.astro";
import CardComponent from "../components/CardComponent";
import { Envelope } from "../components/icons/Envelope";
import { Button, Divider } from "@nextui-org/react";

const recommendations = [
  {
    name: "Julien Cantin",
    company: "CollecOnline",
    imageFallback: "J",
    detail: "React, ThreeJS",
    translation: `A fast and efficient mission. Antoine carried out his mission and completed it more quickly than expected.
  
    I highly recommend Antoine for his skills and reliability.`,
    content: `Une mission rapide et efficace. Antoine a mené à bien sa mission et la terminée plus rapidement que prévu.
    
    Je recommande fortement Antoine pour ses compétences et son sérieux.`,
  },
  {
    name: "Thierry Mangin",
    company: "AC Environnement",
    imageFallback: "T",
    detail: "Angular, RxJS, Kotlin",
    translation: `I had the opportunity to collaborate with Antoine Ando for two years, while he was working as a freelance web developer for our company, AC-Environnement. From the beginning of our collaboration, Antoine was able to integrate easily into our team. His autonomy and professionalism were quickly noticed.

  Antoine is a talented and rigorous developer, capable of successfully completing complex projects while respecting deadlines. His ability to understand our needs and respond to them effectively has added real value to our development process. His approach to work is both methodical and creative, allowing him to offer relevant and innovative solutions.

  In addition to his undeniable technical skills, Antoine has also contributed to the good dynamics of our team through his positive attitude and spirit of collaboration.

  I highly recommend Antoine for any mission or position requiring web development skills. He will undoubtedly be able to adapt and enrich any structure that calls on his services.`,
    content: `J'ai eu l'opportunité de collaborer avec Antoine Ando durant deux années, alors qu'il travaillait en tant que développeur web freelance pour notre société, AC-Environnement. Dès le début de notre collaboration, Antoine a su s'intégrer avec aisance à notre équipe en place. Son autonomie et son professionnalisme ont rapidement été remarqués.
    
    Antoine est un développeur talentueux et rigoureux, capable de mener à bien des projets complexes tout en respectant les délais. Sa capacité à comprendre nos besoins et à y répondre de manière efficace a apporté une réelle plus-value à notre manière de développer. Son approche du travail est à la fois méthodique et créative, ce qui lui permet d'offrir des solutions pertinentes et innovantes.
    
    Outre ses compétences techniques indéniables, Antoine a également su contribuer à la bonne dynamique de notre équipe par son attitude positive et son esprit de collaboration.
    
    Je recommande vivement Antoine pour toute mission ou poste nécessitant des compétences en développement web. Il saura sans aucun doute s’adapter et enrichir toute structure qui ferait appel à ses services.`,
  },
];
---

<Layout title="Antoine ANDO">
  <!-- Header -->
  <div
    id="section1"
    class="relative flex flex-col items-center justify-center min-h-screen gap-0 sm:gap-1 text-center"
  >
    <div
      id="sun"
      class="sun w-[60%] aspect-square rounded-full dark:shadow-eclipse shadow-lightEclipse absolute -z-10"
    >
    </div>
    <h1 class="text-accent text-[11vw] sm:text-5xl md:text-8xl font-bold z-10">
      Antoine ANDO
    </h1>
    <h2 class="text-[4vw] md:text-4xl z-10 text-accent2">
      Front-end Javascript Developer
    </h2>
  </div>

  <!-- Content -->
  <div class="flex flex-col w-full gap-10 text-center items-center mb-44">
    <!-- Intro -->
    <div
      id="section2"
      class="flex flex-col w-full md:w-4/5 gap-5 text-xl md:text-2xl text-text p-5"
    >
      <p>
        Hi, I'm <span
          id="name"
          class="relative after:absolute after:w-[var(--line-width)] after:bottom-[2px] after:border-solid after:border-text after:border-1 after:left-0"
          >Antoine</span
        >, a front-end developer from France. I have been working in the web
        development industry for over 5 years now.
      </p>
      <p>
        I specialize in building web applications using modern technologies such
        as React, Next.js, and Tailwind CSS. I am passionate about creating
        beautiful and user-friendly interfaces.
      </p>

      <!-- Link to about page -->
      <div class="flex justify-end mt-2" id="test">
        <a href="/about" class="group text-accent2 flex gap-5 items-center">
          More about me
          <button
            class="flex items-center justify-center rounded-full
            text-3xl w-14 h-14 border-solid border-accent2 border-2
            relative
            
            before:absolute before:top-0 before:left-0 before:bottom-0 before:right-0
            before:margin-auto
            before:outline-accent2 before:outline-dashed
            before:outline-2
            before:rounded-full
            before:w-full before:h-full
            
            group-hover:before:animate-ping"
          >
            >
          </button></a
        >
      </div>
    </div>

    <Divider className="mt-16" />

    <!-- Recommendation section -->
    <div class="flex flex-col gap-10 md:mt-40 items-center">
      <p class="text-xl md:text-2xl w-fit p-5">
        But don't take my word for it, here's what my clients have to say about
        me:
      </p>

      <!-- Cards container -->
      <div
        class="flex justify-start md:justify-center w-screen overflow-y-auto mx-[-20px] md:mx-0"
      >
        <div
          class="flex gap-5 flex-nowrap md:flex-wrap justify-start md:justify-center text-xl pb-6 px-6 w-fit"
        >
          {
            recommendations.map((recommendation) => (
              <div class="w-[80VW] md:w-auto">
                <CardComponent
                  title={recommendation.name}
                  subtitle={recommendation.company}
                  imageFallback={recommendation.imageFallback}
                  detail={recommendation.detail}
                  translation={recommendation.translation}
                  content={recommendation.content}
                  client:load
                />
              </div>
            ))
          }
        </div>
        <!-- <CardComponent
          title="Julien Cantin"
          subtitle="CollecOnline"
          imageFallback="J"
          detail="React, ThreeJS"
          translation="A fast and efficient mission. Antoine carried out his mission and completed it more quickly than expected. I highly recommend Antoine for his skills and reliability."
          client:load
        >
          Une mission rapide et efficace. Antoine a mené à bien sa mission et la
          terminée plus rapidement que prévu. Je recommande fortement Antoine
          pour ses compétences et son sérieux.
        </CardComponent>
        <CardComponent
          title="Thierry Mangin"
          subtitle="AC Environnement"
          imageFallback="T"
          detail="Angular, RxJS, Kotlin"
          translation={`I had the opportunity to collaborate with Antoine Ando for two years, while he was working as a freelance web developer for our company, AC-Environnement. From the beginning of our collaboration, Antoine was able to integrate easily into our team. His autonomy and professionalism were quickly noticed.
          
          Antoine is a talented and rigorous developer, capable of successfully completing complex projects while respecting deadlines. His ability to understand our needs and respond to them effectively has added real value to our development process. His approach to work is both methodical and creative, allowing him to offer relevant and innovative solutions.
          
          In addition to his undeniable technical skills, Antoine has also contributed to the good dynamics of our team through his positive attitude and spirit of collaboration.
          
          I highly recommend Antoine for any mission or position requiring web development skills. He will undoubtedly be able to adapt and enrich any structure that calls on his services.`}
          client:load
        >
          J'ai eu l'opportunité de collaborer avec Antoine Ando durant deux
          années, alors qu'il travaillait en tant que développeur web freelance
          pour notre société, AC-Environnement. Dès le début de notre
          collaboration, Antoine a su s'intégrer avec aisance à notre équipe en
          place. Son autonomie et son professionnalisme ont rapidement été
          remarqués.<br />Antoine est un développeur talentueux et rigoureux,
          capable de mener à bien des projets complexes tout en respectant les
          délais. Sa capacité à comprendre nos besoins et à y répondre de
          manière efficace a apporté une réelle plus-value à notre manière de
          développer. Son approche du travail est à la fois méthodique et
          créative, ce qui lui permet d'offrir des solutions pertinentes et
          innovantes.<br />Outre ses compétences techniques indéniables, Antoine
          a également su contribuer à la bonne dynamique de notre équipe par son
          attitude positive et son esprit de collaboration.<br />Je recommande
          vivement Antoine pour toute mission ou poste nécessitant des
          compétences en développement web. Il saura sans aucun doute s’adapter
          et enrichir toute structure qui ferait appel à ses services.
        </CardComponent> -->
      </div>
    </div>

    <!-- Contact section -->
    <div class="flex flex-col gap-10 mt-20 items-center">
      <h3 class="text-xl md:text-2xl w-fit">
        <span class="text-3xl">↑↑↑</span>
        <br />
        This&nbsp;could&nbsp;be&nbsp;you, let's&nbsp;work&nbsp;together!
      </h3>

      <div class="relative">
        <Button
          isIconOnly
          variant="bordered"
          aria-label="Send email"
          className="fill-accent2 p-2 border-2 border-accent2 overflow-visible before:absolute before:top-0 before:left-0 before:bottom-0 before:right-0 before:margin-auto before:outline-accent2 before:outline-dashed before:outline-2 before:rounded-full before:w-full before:h-full hover:before:animate-ping"
          size="lg"
          radius="full"
          data-email-button
        >
          <Envelope />
        </Button>
      </div>

      <p class="text-md text-text">
        Send me an email with your project details and let's find a way to
        collaborate!
      </p>
    </div>
  </div>

  <!-- Rocket -->
  <div
    class="rocket aspect-square fixed cursor-pointer -rotate-45 -top-28 right-10"
    id="rocket"
  >
    🚀
  </div>
</Layout>
<script>
  //onclick function
  function sendEmail() {
    window.location.href = "mailto:antoine.ando@protonmail.com";
  }

  const button = document.querySelector("[data-email-button]");
  if (button) {
    button.addEventListener("click", sendEmail);
  }
</script>

<script is:inline>
  const isMobile = window.matchMedia("(max-width: 640px)").matches;

  gsap.to("#rocket", {
    y: "100vh",
    scale: 2.5,
    duration: 0.5,
    ease: "back.out(1)",
    //When the top of the viewport reaches the bottom of #section1, trigger the animation
    scrollTrigger: {
      // scroller: "main",
      trigger: "#section2",
      start: "top center",
      toggleActions: "play play reverse reverse",
      // fastScrollEnd: 3000,
    },
  });

  const name = document.querySelector("#name");

  gsap.to("#name", {
    //underline
    "--line-width": 100,
    duration: 0.6,
    delay: 0.2,
    scrollTrigger: {
      // scroller: "main",
      trigger: "#section2",
      start: "center bottom",
    },
  });

  gsap.to("#sun", {
    //scale: 1.5,
    duration: 2,
    yoyo: true,
    repeat: -1,
    ease: "power1.inOut",
    "--shadow": "0px -20px 20px 0px rgba(255, 250, 233, 0.9)",
  });

  const rocket = document.querySelector("#rocket");
  if (rocket) {
    rocket.addEventListener("click", () => {
      //Scroll to top
      window.scrollTo({
        top: 0,
        behavior: "smooth",
      });
    });
  }
</script>
