---
export const prerender = true;

import type { GetStaticPaths } from "astro";
import Layout from "../../layouts/Layout.astro";
import { sanityClient } from "sanity:client";
import { picture } from "astro-sanity-picture";
import { toHTML } from "@portabletext/to-html";

export const getStaticPaths = (async () => {
  const projects = await sanityClient.fetch(
    `*[_type == "project" && defined(slug)] | order(publishedAt desc) {
        title,
        slug,
        shortDescription,
        ${picture("image")},
        content,
        layout,
        "iframeFileUrl":iframe.asset->url, 
        iframeUrl
    }`
  );

  return projects.map((project: any) => {
    return {
      params: { title: project.title, slug: project.slug.current },
      props: {
        title: project.title,
        image: project.image.asset.url,
        content: project.content,
        layout: project.layout,
        iframeFileUrl: project.iframeFileUrl,
        iframeUrl: project.iframeUrl,
      },
    };
  });
}) satisfies GetStaticPaths;

const { title, image, content, layout, iframeFileUrl, iframeUrl } = Astro.props;
let d = toHTML(content, {
  components: {
    block: {
      h2: ({ children }) => {
        return `<h2 class="text-2xl mt-5">${children}</h2>`;
      },
    },
  },
});
---

<Layout title={title + " - Antoine Ando"}>
  <h1 class="text-4xl mb-5">{title}</h1>
  <div class="w-full">
    {
      layout === "iframe" ? (
        <iframe
          src={iframeFileUrl}
          class="w-full h-full"
          frameborder="0"
          allowfullscreen
        />
      ) : (
        <img src={`${image}?h=500`} alt="Main image" class="" />
      )
    }
    <Fragment set:html={d} />
  </div>
</Layout>
